sqlite3:
  adapter: sqlite3
  database: custom_attributes.sqlite3

mysql:
  adapter: mysql
  hostname: localhost
  username: root
  password:
  database: custom_attributes

postgresql:
  adapter: postgresql
  hostname: localhost
  username: postgres
  password:
  database: custom_attributes
