/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/
form.formtastic {
  /**
   * Custom attributes style
   */ }
  form.formtastic fieldset.buttons {
    margin-left: 15px; }
  form.formtastic fieldset > ol > li label {
    padding-right: 15px; }
  form.formtastic fieldset > ol > li p.inline-hints {
    padding-left: 15px; }
  form.formtastic .custom-attributes fieldset {
    overflow: visible; }
    form.formtastic .custom-attributes fieldset li {
      overflow: visible; }
    form.formtastic .custom-attributes fieldset p.field-group {
      padding: 1px; }
    form.formtastic .custom-attributes fieldset div.label {
      display: block;
      width: 25%;
      float: left;
      padding-right: 15px;
      padding-top: 0; }
      form.formtastic .custom-attributes fieldset div.label input {
        font-size: 1em;
        text-align: inherit;
        border: 1px solid transparent;
        width: 100%; }
    form.formtastic .custom-attributes fieldset li.add-custom-attribute label {
      visibility: hidden; }
    form.formtastic .custom-attributes fieldset li.field-addition {
      padding-left: 25%;
      margin-left: 15px; }
      form.formtastic .custom-attributes fieldset li.field-addition .add-link {
        font-size: 0.7em;
        padding: 2px; }
      form.formtastic .custom-attributes fieldset li.field-addition .template {
        display: none; }
    form.formtastic .custom-attributes fieldset li .delete-link {
      font-size: 0.7em;
      visibility: hidden; }
    form.formtastic .custom-attributes fieldset li:hover .delete-link {
      visibility: visible; }
    form.formtastic .custom-attributes fieldset datalist {
      display: none; }
